<form id="sensitive" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" name="username" placeholder="Username" class="form-control" required>
    </div>
    <div class="input-group mb-3">
        <input type="password" name="password" placeholder="Password" class="form-control" required>
    </div>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary my-2">Log In</button>
        <a href="/recovery/" class="my-2 py-2">Forgot your password?</a>
    </div>
</form>