<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ deck.name }}</h5>
        <p class="card-text">{{ deck.description }}</p>
        <p class="card-text">
            <small class="text-muted">Created on: {{ deck.date_created }}</small>
            <br>
            <small class="text-muted">Last modified: {{ deck.last_modified }}</small>
        </p>
        <div class="card-footer bg-transparent ps-0">
            <a href="/study/?uuid={{ deck.uuid }}&type=flashcards" class="btn btn-primary">Study</a>
            <a href="/editor/?uuid={{ deck.uuid }}" class="btn btn-success">Edit</a>
            <button type="button" class="btn btn-danger"
                    data-bs-toggle="collapse" data-bs-target="#confirm-{{ deck.pk }}"
                    aria-controls="confirm-{{ deck.pk }}" aria-expanded="false">
                Delete
            </button>
            <div id="confirm-{{ deck.pk }}" class="collapse mt-2">
                <form method="post">
                    <p>Are sure you want to delete <strong>{{ deck.fields.name }}</strong>?</p>
                    {% csrf_token %}
                    <button type="submit" name="delete" value="{{ deck.pk }}" class="btn btn-danger">Yes</button>
                    <button type="button" class="btn btn-primary"
                            data-bs-toggle="collapse" data-bs-target="#confirm-{{ deck.pk }}"
                            aria-controls="confirm-{{ deck.pk }}" aria-expanded="false">
                        No
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>