{% load render %}

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="change" value="password">

    <div class="row">
        <div class="form-group col-md-3">
            <label for="id_old_password">Current password:</label>
            {% render password_form.old_password class="form-control" %}
            <br>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            <label for="id_new_password1">New password:</label>
            {% render password_form.new_password1 minlength="4" class="form-control" %}
            <br>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            <label for="id_new_password2"> Confirm new password:</label>
            {% render password_form.new_password2 class="form-control" %}
            <br>
        </div>
    </div>

    <button type="submit" class="btn btn-danger">Change password</button>
</form>