<form id="sensitive" method="post">
    {% csrf_token %}
    <input type="hidden" name="change" value="password">

    <div class="row mb-2">
        <div class="form-group col-md-3">
            <label for="id_old_password">Current password:</label>
            <input id="id_old_password" type="password" name="old_password" class="form-control" required>
        </div>
    </div>

    <div class="row mb-2">
        <div class="form-group col-md-3">
            <label for="id_new_password1">New password:</label>
            <input id="id_new_password1" type="password" name="new_password1" minlength="8" class="form-control" required>
        </div>
    </div>

    <div class="row mb-2">
        <div class="form-group col-md-3">
            <label for="id_new_password2"> Confirm new password:</label>
            <input id="id_new_password2" type="password" name="new_password2" class="form-control" required>
        </div>
    </div>

    <button type="submit" class="btn btn-danger">Change password</button>
</form>