<div class="col-md-2">
    <form method="get">
        <div class="input-group">
            <input type="hidden" name="local" value="">
            <input type="text" name="query" placeholder="Search your decks" class="form-control mb-2">
            <input type="hidden" name="page" value="1">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <a href="/editor" class="btn btn-success mb-2">Create a new deck</a>
</div>
<br>

<div class="mb-1">
    {% include "main/messages.html" %}
    
    {% if not page %}
        <p class="text-muted">No decks.</p>
    {% else %}
        {% for deck in page.object_list %}
            {% include "main/user/deck_view.html" %}
        {% endfor %}

        <div id="paging" class="my-2">
            {% if page.has_previous %}
                <a href="/user/?page={{ page.previous_page_number }}"><< Previous</a>
            {% endif %}
            {% if page.has_previous or page.has_next %}
                |
            {% endif %}
            {% if page.has_next %}
                <a href="/user/?page={{ page.next_page_number }}">Next >></a>
            {% endif %}
        </div>
    {% endif %}
</div>