<div class="col-md-2">
    <a href="/editor" class="btn btn-success mb-2">Create a new deck</a>

    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" name="query" placeholder="Search your decks" class="form-control mb-2">
            <input type="hidden" name="search" value="search">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="mb-1">
    {% include "main/messages.html" %}
    
    {% if not page %}
        <p class="text-muted">No decks.</p>
    {% else %}
        {% for deck in page.object_list %}
            {% include "main/deck_view.html" %}
        {% endfor %}

        {% include "main/user/user_nav.html" %}
    {% endif %}
</div>