<div class="col-md-2">
    <a href="/editor" class="btn btn-success mb-2">Create a new deck</a>

    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" name="query" placeholder="Search your decks" class="form-control mb-2">
            <input type="hidden" name="search" value="search">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>
<br>

<div class="mb-1">
    {% include "main/messages.html" %}
    
    {% if not page %}
        <p class="text-muted">No decks.</p>
    {% else %}
        {% for deck in page.object_list %}
            {% include "main/user/deck_view.html" %}
        {% endfor %}

        <div id="paging" class="my-2">
            {% if page.has_previous %}
                {% if request.session.local_search %}
                    <a href="/user/search/{{ page.previous_page_number }}"><< Previous</a>
                {% else %}
                    <a href="/user/{{ page.previous_page_number }}"><< Previous</a>
                {% endif %}
            {% endif %}
            {% if page.has_previous or page.has_next %}
                |
            {% endif %}
            {% if page.has_next %}
                {% if request.session.local_search %}
                    <a href="/user/search/{{ page.next_page_number }}">Next >></a>
                {% else %}
                    <a href="/user/{{ page.next_page_number }}">Next >></a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
</div>