.hidden {
    display: none;
}

.zeusz-unstyled {
    color: black;
    text-decoration: none;
}

.zeusz-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    justify-content: space-evenly;
    background-color: white;
    border-bottom: 1px solid lightgray;
    z-index: 999;
}

.zeusz-card {
    outline: 1px solid lightgray; 
    border-radius: 5px;
}

.zeusz-img {
    max-width: 64px;
    max-height: 64px; 
    width: auto; 
    height: auto;
}

.zeusz-social {
    max-width: 32px;
    max-height: 32px;
    width: auto;
    height: auto;
}