{% if request.session.uuid %}
<div id="{{ card.pk }}" name="card" class="row my-5 zeusz-card">
{% else %}
<div name="card" class="row my-5 zeusz-card">
{% endif %}
    <div class="col">
        <h6>Term</h6>

        {% if request.session.uuid %}
            <div name="term">{% autoescape off %} {{ card.term }} {% endautoescape %}</div>
            {% if card.term_image %}
                {% include "main/editor/image_uploader.html" with type="term" image=card.term_image_url %}
            {% else %}
                {% include "main/editor/image_uploader.html" with type="term" %}
            {% endif %}
        {% else %}
            <div name="term"></div>
            {% include "main/editor/image_uploader.html" with type="term" %}
        {% endif %}
    </div>

    <div class="col">
        <h6>Definition</h6>

        {% if request.session.uuid %}
            <div name="definition">{% autoescape off %} {{ card.definition }} {% endautoescape %}</div>
            {% if card.definition_image %}
                {% include "main/editor/image_uploader.html" with type="definition" image=card.definition_image_url %}
            {% else %}
                {% include "main/editor/image_uploader.html" with type="definition" %}
            {% endif %}
        {% else %}
            <div name="definition"></div>
            {% include "main/editor/image_uploader.html" with type="definition" %}
        {% endif %}
    </div>

    <button name="delete-btn" type="button" class="btn btn-danger btn-sm mt-2">Delete</button>
</div>