<div id="{{ card.pk }}" data-label="card" class="card col-6">
    <div data-label="term" class="m-2 hidden">
        {% autoescape off %} {{ card.term }} {% endautoescape %}
        {% if settings.show_images and card.term_image %}
            {% with card.term_image_url as term_image %}
                {% load media %}
                <img src="{% media card.term_image %}" alt="{{ card.term_image.alt }}" class="zeusz-img">
            {% endwith %}
        {% endif %}
    </div>

    <div data-label="definition" class="m-2 hidden">
        {% autoescape off %} {{ card.definition }} {% endautoescape %}
        {% if settings.show_images and card.definition_image %}
            {% with card.definition_image_url as definition_image %}
                {% load media %}
                <img src="{% media card.definition_image %}" alt="{{ card.definition_image.alt }}" class="zeusz-img">
            {% endwith %}
        {% endif %}
    </div>

    <div class="card-footer">
        <button type="button" name="rotate-btn" class="btn">Click to rotate!</button>
    </div>
</div>