<div id="{{ card.pk }}" name="card" class="card col-6">
    <div name="term" class="m-2 hidden">
        {% autoescape off %} {{ card.term }} {% endautoescape %}
        {% if card.term_image %}
            {% with card.term_image_url as term_image %}
                {% load static %}
                <img src="{% static card.term_image.src %}" alt="{{ card.term_image.alt }}" class="zeusz-img">
            {% endwith %}
        {% endif %}
    </div>

    <div name="definition" class="m-2 hidden">
        {% autoescape off %} {{ card.definition }} {% endautoescape %}
        {% if card.definition_image %}
            {% with card.definition_image_url as definition_image %}
                {% load static %}
                <img src="{% static card.definition_image.src %}" alt="{{ card.definition_image.alt }}" class="zeusz-img">
            {% endwith %}
        {% endif %}
    </div>

    <div class="card-footer">
        <button type="button" name="rotate-btn" class="btn">Click to rotate!</button>
    </div>
</div>