{% extends "main/study/study.html" %}

{% block lesson %}
    {% for quiz in questions %}
        <div name="quiz" class="hidden">
            {% autoescape off %}
                {% include "main/study/learn/question_head.html" %}
                <hr>
                {% include "main/study/learn/question_body.html" %}
            {% endautoescape %}
        </div>
    {% endfor %}

    <button id="next" type="button" class="btn btn-primary m-1">Next >></button>
    <a id="retry" href="/learn/" class="btn btn-primary m-1">Retry</a>
{% endblock lesson %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/learn.js' %}"></script>
{% endblock script %}