{% extends "main/study/study.html" %}

{% block lesson %}
    <div id="active-quiz"></div>
    <button id="next" type="button" class="btn btn-primary m-1">Next >></button>
    <br>
    <a id="retry" href="/learn/" class="btn btn-primary m-1">Retry</a>

    {% for quiz in questions %}
        <div name="quiz" hidden>
            {% autoescape off %}
                {% include "main/study/learn/question_head.html" %}
                <hr>
                {% include "main/study/learn/question_body.html" %}
            {% endautoescape %}
        </div>
    {% endfor %}
{% endblock lesson %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/learn.js' %}"></script>
{% endblock script %}