<div name="card" style="outline: 1px solid lightgray; border-radius: 5px;" class="row my-5">    
    <div class="col">
        <h6>Term</h6>
        <div class="py-2"> 
            <button type="button" name="tool" data-command="bold" style="width: 2em">
                <b>B</b>
            </button>
            <button type="button" name="tool" data-command="italic" style="width: 2em">
                <i>I</i>
            </button>
            <button type="button" name="tool" data-command="underline" style="width: 2em">
                <u>U</u>
            </button>
            <input type="color" name="picker" style="width: 2em">
        </div>

        <div name="term" contenteditable="true" style="height: 5em; overflow-y: scroll;" class="form-control mb-2"></div>
        <input type="file" name="term-image" accept="image/png, image/jpeg" class="mb-2">
        <img name="term-preview" src="" alt="" loading="lazy" style="display: block; max-width: 64px; max-height: 64px; width: auto; height: auto;">
        <button type="button" name="del-term-img" style="width: 2em" class="btn-danger">X</button>
    </div>

    <div class="col">
        <h6>Definition</h6>
        <div class="py-2">
            <button type="button" name="tool" data-command="bold" style="width: 2em">
                <b>B</b>
            </button>
            <button type="button" name="tool" data-command="italic" style="width: 2em">
                <i>I</i>
            </button>
            <button type="button" name="tool" data-command="underline" style="width: 2em">
                <u>U</u>
            </button>
            <input type="color" name="picker" style="width: 2em">
        </div>

        <div name="definition" contenteditable="true" style="height: 5em; overflow-y: scroll;" class="form-control mb-2"></div>
        <input type="file" name="definition-image" accept="image/png, image/jpeg" class="mb-2">
        <img name="definition-preview" src="" alt="" loading="lazy" style="display: block; max-width: 64px; max-height: 64px; width: auto; height: auto;">
        <button type="button" name="del-definition-img" style="width: 2em" class="btn-danger">X</button>
    </div>

    <button name="delete-btn" type="button" class="btn btn-danger btn-sm mt-2">Delete</button>
</div>