<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">{{ deck.name }}</h5>
        <p class="card-text">{{ deck.description }}</p>
        <p class="card-text">
            {% if request.session.global_search %}
                <small class="text-muted">
                    Created by:
                    <a href="/checkout/?checkout={{ deck.user.username }}" class="zeusz-unstyled">{{ deck.user.username }}</a>
                </small>
                <br>
            {% endif %}
            <small class="text-muted">Created on: {{ deck.date_created }}</small>
            <br>
            <small class="text-muted">Last modified: {{ deck.last_modified }}</small>
        </p>
    </div>

    <div class="card-footer bg-transparent mx-2 ps-0">
        <div class="navbar m-0 p-0">
            <div>
                <a href="/flashcards/?uuid={{ deck.uuid }}" class="btn btn-primary">Study</a>
                {% if not request.session.checkout and not request.session.global_search %}
                    {% include "main/user/deck_editing_options.html" %}
                {% endif %}
            </div>
            {% include "main/share.html" %}
        </div>
    </div>
</div>