{% extends "main/base.html" %}

{% block content %}
    {% include "main/header.html" %}

    <div class="col-6">
        <form id="editor" method="post">
            {% csrf_token %}
            <!-- Edit deck details -->
            Deck name:
            <div class="input-group mb-3">
                <input type="text" name="name" placeholder="Enter a title." required class="form-control">
            </div>
            Description:
            <div class="input-group mb-3">
                <textarea name="description" placeholder="Write a short description..." required style="resize: none" class="form-control"></textarea>
            </div>
            <div class="text-center">
                <small id="warning" class="text-danger mb-3" style="visibility: hidden">You've already made a deck with the same name.</small>
                <br>
                <button id="save-btn" type="submit" class="btn btn-success">Create</button>
            </div>
            <hr>
    
            <!-- Edit cards -->
            <div id="container" class="container">
                {% for i in cards %}
                    {% include "main/card_view_template.html" %}
                {% endfor %}
            </div>
            <button id='new-card' type="button" class="btn btn-secondary col-12">+ Add new card +</button>
        </form>
    </div>
{% endblock content %}

{% block script %}
    <script>
        const raw = '{{ decks }}'.replace(/&#x27;/g, '"')
        const data = JSON.parse(raw)
        const cardTemplate = '{{ template }}'.replace(/&quot;/g, '"').replace(/&lt;/g, '<').replace(/&gt;/g, '>')
    </script>
    {% load static %}
    <script src="{% static 'js/editor.js' %}"></script>
    <script src="{% static 'js/save_deck.js' %}"></script>
{% endblock script %}