{% extends "main/base.html" %}

{% block content %}
    {% include "main/header.html" %}

    <div class="col-6">
        <form id="editor" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Edit deck details -->
            Deck name:
            <div class="input-group mb-3">
                {% if request.GET.uuid %}
                    <input type="text" id="name" placeholder="Enter a title." value="{{ deck.fields.name }}" required class="form-control">
                {% else %}
                    <input type="text" id="name" placeholder="Enter a title." required class="form-control">
                {% endif %}
            </div>
            Description:
            <div class="input-group mb-3">
                {% if request.GET.uuid %}
                    <textarea id="description" placeholder="Write a short description..." style="resize: none" class="form-control">{{ deck.fields.description }}</textarea>
                {% else %}
                    <textarea id="description" placeholder="Write a short description..." style="resize: none" class="form-control"></textarea>
                {% endif %}
            </div>
            <div class="text-center">
                <button id='save-btn' type="button" class="btn btn-success">Save</button>
            </div>
            <input type="hidden" id="uuid" value="{{ request.GET.uuid }}">
            <hr>
    
            <!-- Edit cards -->
            <div id="container" class="container">
                {% for card in cards %}
                    {% include "main/card_view.html" %}
                {% endfor %}
            </div>
            <button id='new-card' type="button" class="btn btn-secondary col-12 mb-3">+ Add new card +</button>
        </form>
    </div>

    <div id="template" hidden>
        {% include 'main/base_card_view.html' %}
    </div>
{% endblock content %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>

    {% load static %}
    <script src="{% static 'js/editor.js' %}"></script>
{% endblock script %}