<nav class="navbar" style="justify-content: space-evenly; position: sticky;">
    <h3>Quizcards</h3>
    {% if index %}
        <a href="/?view=login">Log In</a>
        <a href="/?view=register">Register</a>
    {% else %}
        <a href="/user">Home</a>
        <a href="/user?view=manage">Profile</a>
        <a href="/">Log out</a>
    {% endif %}

    <form method="get" class="col-md-2">
        <div class="input-group">
            <input type="search" placeholder="Search" class="form-control mr-sm-2">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</nav>

<hr>