<nav class="navbar zeusz-nav">
    <h3>Quizcards</h3>
    {% if user %}
        <a href="/user">Home</a>
        <a href="/user?view=manage">Profile</a>
        <a href="/?logout=">Log out</a>
    {% else %}
        <a href="/?view=login">Log In</a>
        <a href="/?view=register">Register</a>
    {% endif %}

    <form method="get" class="col-md-2">
        <div class="input-group">
            <input type="search" placeholder="Search" class="form-control mr-sm-2">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</nav>

<hr>