{% extends "main/base.html" %}

{% block content %}
    {% include "main/header.html" %}

    <div class="col-10">
        {% if page %}
            {% for deck in page.object_list %}
                {% include "main/deck_view.html" %}
            {% endfor %}

            {% if page.has_previous %}
                <a href="/search/{{ page.previous_page_number }}"><< Previous</a>
            {% endif %}
            {% if page.has_previous or page.has_next %}
                |
            {% endif %}
            {% if page.has_next %}
                <a href="/search/{{ page.next_page_number }}">Next >></a>
            {% endif %}
        {% else %}
            <span class="text-muted">No results found.</span>
        {% endif %}
    </div>

{% endblock content %}

