<div class="col-md-2">
    <a href="/editor" class="input-group mb-2">Create a new deck</a>
    <input type="text" id="local-deck-search" placeholder="Search decks" class="form-control">
</div>
<br>

<div id="holder">
    {% include "main/messages.html" %}
    {% for deck in decks %}
        {% include "main/deck_view_template.html" %}
    {% endfor %}
</div>

{% block script %}
    <!-- Handle search for user created decks/study sets -->
    <script>
        const raw = '{{ decks }}'.replace(/&#x27;/g, '"')
        const data = JSON.parse(raw)
        const template = '{{ template }}'.replace(/&quot;/g, '"').replace(/&lt;/g, '<').replace(/&gt;/g, '>')      
    </script>
    {% load static %}
    <script src="{% static 'js/local_deck_search.js' %}"></script>
{% endblock script %}
