<nav class="nav nav-pills flex-column">
    <small class="text-muted">Study</small>
    <small>{{ deck.name }}</small>
    <hr>

    {% if request.path == "/flashcards/" %}
        <a class="nav-link active">Flashcards</a>
    {% else %}
    <a href="/flashcards/" class="nav-link">Flashcards</a>
    {% endif %}

    {% if "learn" in request.path %}
        <a class="nav-link active">Learn</a>
    {% else %}
        <a href="/learn/" class="nav-link">Learn</a>
    {% endif %}

    <hr>

    {% include "main/study/settings_modal.html" %}
</nav>