<nav class="nav nav-pills flex-column">
    <small class="text-muted">Study</small>
    <small>{{ deck.name }}</small>
    <hr>

    {% if request.path == "/flashcards/" %}
        <a class="nav-link active">Flashcards</a>
    {% else %}
    <a href="/flashcards/" class="nav-link">Flashcards</a>
    {% endif %}

    {% if "learn" in request.path %}
        <a class="nav-link active">Learn</a>
    {% else %}
        <a href="/learn/" class="nav-link">Learn</a>
    {% endif %}

    <hr>

    Start with:
    <form method="post">
        {% csrf_token %}
        <select name="start-with">
            {% if start_with == "term" %}
                <option value="term" selected>Term</option>
                <option value="definition">Definition</option>
            {% else %}
                <option value="term">Term</option>
                <option value="definition" selected>Definition</option>
            {% endif %}
        </select>
        <button type="submit" class="btn btn-outline-success p-1">Save</button>
    </form>
</nav>